<h2><%= @deck.name %></h2>

<p>You've completed a round of <%= @deck.name %>. You answered <%= @round.correct %> / <%= @deck.cards.count %> cards correctly on the first try. You submitted <%= @round.total_guesses %> total guesses before each card was answered correctly </p>
