<h1 class="bold centered">Player Statistics</h1>

<div class="bottom_buffer">
  <ol>
    <li class="bold bigger_text">
      <%=@user.username%>
    </li>

    <% sorted_deck = @user.rounds.order(deck_id: :desc)%>

    <%sorted_deck.each do |round|%>
      <ol>
        You scored a total of <%= round.points %> points on <%=round.deck.name%> on the day of <%= round.created_at.strftime("%B %d, %Y") %> at <%= round.created_at.strftime("%I:%M%p") %>.
      </ol>
    <% end %>
  </ol>
</div>